<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
      <title> Dr Taïssa Danilovich </title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    </head>
    <body>

    <header class="page-header" role="banner">
      <nav>
    		<ul>
        		<li><a href="/">Home</a></li>
          	<li><a href="/about/">About</a></li>
        		<li><a href="/cv/">CV</a></li>
    		</ul>
  	</nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer>
        <ul>
          <li>Institute of Astronomy, KU Leuven, Celestijnenlaan 200 D, BUS 2401, 3001 Leuven, Belgium
            </li>
        <li><a href="mailto:taissa.danilovich@kuleuven.be">KU Leuven email</a></li>
        <li><a href="mailto:tdanilovich@gmail.com">Gmail</a>  </li>
        </ul>
      </footer>
    </main>
  </body>
</html>
