<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
      <title> Dr Taïssa Danilovich </title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    </head>
    <body>

      <header class="page-header" role="banner">
       <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>


     </header>
    <main id="content" class="main-content" role="main">
      <a href="/">Home</a> | <a href="/cv">CV</a> | <a href="/media">Media</a>

      {{ content }}

      <footer class="site-footer">
        <ul>
          <li>Institute of Astronomy, KU Leuven, Celestijnenlaan 200 D, BUS 2401, 3001 Leuven, Belgium  </li>
        </ul>
      </footer>
    </main>
  </body>
</html>
